node_modules/
resources/js/
resources/public/js/
resources/public/cljs-runtime/
classpathpublic/
classpublic/
.shadow-cljs/
.cpcache/
.idea/
resources/public/main.js
resources/public/manifest.edn
package-lock.json
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
*.rdb
.lein-failures
.nrepl-port